.inputfield {
	font-family:'Courier New', Courier, monospace;
	width:20px;
	height:20px;
	border:black solid 1px;
	margin-bottom:-1px;
	margin-right:-1px;
	text-align:center;
}

.boxes {
	display:inline-block;
	width:64px;
	height:70px;
	border:black solid 3px;
	margin-right:-3px;
	margin:-3px;
}

input:focus {
	background:#FFFF00;
}
